Django==5.2.2
djangorestframework==3.16.0
djangorestframework-simplejwt==5.4.0
channels==4.1.0
channels-redis==4.2.1
daphne==4.1.2
django-cors-headers==4.7.0
psycopg[binary]==3.2.4
redis==5.2.1
celery==5.4.0
openai==1.82.0
faster-whisper==1.1.1
python-dotenv==1.1.0
Pillow==11.2.1
uvicorn[standard]==0.34.3
websockets==14.2
pyjwt==2.10.1
django-environ==0.12.0
aiohttp==3.11.18
